.navbar.navbar-inverse.navbar-embossed.navbar-fixed-top(role='navigation', ng-controller='NavCtrl')
  .container
    .navbar-header
      button.navbar-toggle(data-toggle='collapse', data-target='#bs-navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') Abode

    .collapse.navbar-collapse#bs-navbar-collapse
      ul.nav.navbar-nav.navbar-right(ng-hide='email')
        li: a(href='/#/') Join Us!
      ul.nav.navbar-nav.navbar-left(ng-show='email')
        li: a.fui-home(href='/#/')
        li: a(href='/#/dashboard') Dashboard
        li: a(href='/#/house') Homefolio
        li: a(href='/#/book') Ideabook
      ul.nav.navbar-nav.navbar-right(ng-show='email')
        li: a(href='javascript.void(0)') {{email}}
        li: a.fui-exit.fui-2x(href='/#/logout')

