.col-xs-6
  h2 Tell us more about yourself!
  form.form-horizontal(role='form', name='editUserForm', novalidate)
    .form-group
      label(for='name') Name
      input.form-control(name='name', ng-model='name', type='text')
    .form-group
      label(for='location') Location
      input.form
.col-xs-6
