h4 General
form.form(role='form', name='generalHouseForm', novalidate, ng-model='general')
  fieldset
    .form-group
      label(for='built') Year Built
        input.form-control(name='built', model='general.built', type='number', placeholder='1950')
    .form-group
      label(for='type') Type
        select.form-control(name='type', model='general.type')
          option(value='') Select a House Type
          option(ng-repeat='type in types') {{type}}
    .form-group
      label(for='roofAge') When did you get a new roof? &nbsp
        input.form-control(name='isBasement', model='general.roofAge', type='number')
  fieldset
    .form-group
      label(for='typeOfSiding') What type of Siding? &nbsp
        input.form-control(name='typeOfSiding', model='general.typeOfSiding', type='text')
    .form-group
      label(for='makeOfSiding') Make? &nbsp
        input.form-control(name='makeOfSiding', model='general.makeOfSiding', type='text')
    .form-group
      label(for='modelSiding') Model Number? &nbsp
        input.form-control(name='modelSiding', model='general.modelSiding', type='text')
  fieldset
    .form-group
      label(for='typeOfWindow') What type of Windows? &nbsp
        input.form-control(name='typeOfWindow', model='general.typeOfWindow', type='text')
    .form-group
      label(for='makeOfWindow') Make? &nbsp
        input.form-control(name='makeOfWindow', model='general.makeOfWindow', type='text')
    .form-group
      label(for='modelWindow') Model Number? &nbsp
        input.form-control(name='modelOfWindow', model='general.modelOfWindow', type='text')
  fieldset
      label(for='isGutters') Gutters? &nbsp
        input.form-control(name='isGutters', model='general.isGutters', type='checkbox')
    .form-group
      label(for='isBasement') Basement? &nbsp
        input.form-control(name='isBasement', model='general.isBasement', type='checkbox')
    .form-group
      label(for='isAttic') Attic? &nbsp
        input.form-control(name='isAttic', model='general.isAttic', type='checkbox')
    .form-group
      label(for='isYard') Yard? &nbsp
        input.form-control(name='isYard', model='general.isYard', type='checkbox')
    button.btn.btn-primary(ng-click='updateGeneral()') Save
