h4 General
form.form(role='form', name='generalHouseForm', novalidate, ng-ng-model='general')
  fieldset
    .form-group
      label(for='built') Year Built
        input.form-control(name='built', ng-model='general.built', type='number', placeholder='1950')
    .form-group
      label(for='type') Type
        select.form-control(name='type', ng-model='general.type')
          option(value='') Select a House Type
          option(ng-repeat='type in types') {{type}}
  fieldset
    .form-group
      label(for='typeOfSiding') Type of Siding? &nbsp
        select.form-control(name='typeOfSiding', ng-model='general.typeOfSiding')
          option(value='') Select a Siding
          option(ng-repeat='siding in sidings') {{siding}}
    .form-group
      label(for='sidingStyle') Siding Style/Brand &nbsp
        input.form-control(name='sidingStyle', ng-model='general.sidingStyle', type='text')
    .form-group
      label(for='sidingColor') Siding Color &nbsp
        input.form-control(name='sidingColor', ng-model='general.sidingColor', type='text')
  fieldset
    .form-group
      label(for='typeOfWindow') Type of Windows &nbsp
        select.form-control(name='typeOfWindow', ng-model='general.typeOfWindow')
          option(value='') Select a Window Type
          option(ng-repeat='window in windows') {{window}}
    .form-group
      label(for='windowBrand') Window Brand &nbsp
        input.form-control(name='windowBrand', ng-model='general.windowBrand', type='text')
    .form-group
      label(for='typeFrontDoor') Type of FrontDoor &nbsp
        select.form-control(name='typeOfFrontDoor', ng-model='general.typeOfFrontDoor')
          option(value='') Select a Door Type
          option(ng-repeat='door in doors') {{door}}
    .form-group
      label(for='frontDoorColor') Frontdoor Color &nbsp
        input.form-control(name='frontDoorColor', ng-model='general.frontDoorColor', type='text')
    .form-group
      label(for='frontDoorMeasurements') Frontdoor Measurements &nbsp
        input.form-control(name='frontDoorMeasurements', ng-model='general.frontDoorMeasurements', type='text')
    .form-group
      label(for='typeBackDoor') Type of BackDoor &nbsp
        select.form-control(name='typeOfBackDoor', ng-model='general.typeOfBackDoor')
          option(value='') Select a Door Type
          option(ng-repeat='door in doors') {{door}}
    .form-group
      label(for='backDoorColor') Backdoor Color &nbsp
        input.form-control(name='backDoorColor', ng-model='general.backDoorColor', type='text')
    .form-group
      label(for='backDoorMeasurements') Backdoor Measurements &nbsp
        input.form-control(name='backDoorMeasurements', ng-model='general.backDoorMeasurements', type='text')
  fieldset
      label(for='isGutters') Gutters? &nbsp
        input.form-control(name='isGutters', ng-model='general.isGutters', type='checkbox')
    .form-group
      label(for='isBasement') Basement? &nbsp
        input.form-control(name='isBasement', ng-model='general.isBasement', type='checkbox')
    .form-group
      label(for='isAttic') Attic? &nbsp
        input.form-control(name='isAttic', ng-model='general.isAttic', type='checkbox')
    .form-group
      label(for='isYard') Yard? &nbsp
        input.form-control(name='isYard', ng-model='general.isYard', type='checkbox')
    .form-group
      label(for='notes') Notes
      textarea.form-control(name='notes', rows='3', ng-model='general.notes')
    button.btn.btn-primary(ng-click='updateGeneral()') Save
