h3.text-center GOAL FORM
.row
  .col-xs-6.reccomendations
    h3 Suggested Goals
    p I would tell you things you need to do here.

  .col-xs-6
    h3 Set a goal
    form.form#goal-form(role='form', name='goalForm', novalidate)
      .form-group
        label(for='goalTitle') Goal
        input.form-control#goal-title(type='text', name='goalTitle', ng-model='goal.title', ng-minlength='5', required, placeholder='Tile the Kitchen Floor')
      .form-group
        label(for='link') Complete By
        input.form-control#due(type='date', name='due', ng-model='goal.due', required)
      button.btn.btn-primary.pull-right(ng-show='goalForm.$valid', ng-click='addGoal()') Add Goal
    .goals(ng-repeat='goal in goals')
      p {{goal.title}}
        button.btn Add a Task?
      .reveal
      form.form.task-form(role='form', name='taskForm', novalidate)
        .form-group#task-group
          .form-group.clone
            label(for='taskName')
            input.form-control#task-name(type='text', name='taskName', ng-model='task.name', ng-minlength='3', required)
            input(type='hidden', value='{{goal._id}}')
          .form-group.clone
            label(for='taskRank')
            select#task-rank(name='taskRank', ng-model='task.rank', required)
              option(value='') Select the Rank
              option 1
              option 2
              option 3
              option 4
              option 5
              option 6
              option 7
              option 8
              option 9
              option 10
          button.btn(ng-click='addTask()') +

