.col-xs-12.well.well-lg
  .close.fui-cross-circle.pull-right(ng-click='cancel()')
  h4 Add an Idea
  form.form(role='form', name='addPageForm', ng-model='page')
    .form-group
      label(for='photo') Photo
        input.form-control(name='photo', kj-file-model='page.photo', type='file')
      .form-group
        label(for='desc') Why do you like this?
          textarea.form-control(name='desc', ng-model='page.desc', rows='3', cols='36', ng-minlength='5')
      button.btn.btn-success(ng-click='addPage()') Add
