.panel.panel-info.info-modal
  .panel-heading
    h3.panel-title Welcome to Abode!
  .panel-body
    p This is a sample of your dashboard. Here you can manage your goals and tasks, while keeping up with what's trending.
    p As you move through the sections, tooltips will pop up to give you more information about the features.
    p You can begin adding your own goals by clicking the dashboard tab at the top of the page.
    button.btn.btn-info.fui-check.pull-right(ng-click='ok()')&nbsp Got It!
