.row#ideabook
  .col-xs-4.info
    h2 IdeaBook
    h3.sub-heading Here you upload photos
    h4.sub-heading and tell us why you like them.
    button.btn.btn-primary.col-xs-8(ng-click='open()') Add an Idea!

  .col-xs-8.carousel
    div(kj-slick='pages')
