.back
  a.fui-arrow-left(href='/#/house') &nbsp Back
.title
  h4.text-center Bedroom Two
.row
  .col-md-3
  .col-md-2
    form.form(role='form', name='bedroomTwoHouseForm', novalidate)
        .form-group
          label(for='wallCovering') Wall-covering &nbsp
            select.form-control(name='wallCovering', ng-model='bedroomTwo.wallCovering')
              option(value='') Select a Wall-covering
              option(ng-repeat='wallcover in wallcoverings') {{wallcover}}
        .form-group
          label(for='wallCoveringStyle') Wall-covering Style/Brand &nbsp
            input.form-control(name='wallCoveringStyle', ng-model='bedroomTwo.wallCoveringStyle', type='text')
        .form-group
          label(for='wallCoveringColor') Wall-covering Color &nbsp
            input.form-control(name='wallCoveringColor', ng-model='bedroomTwo.wallCoveringColor', type='text')
  .col-md-2
        .form-group
          label(for='flooring') Flooring &nbsp
            select.form-control(name='flooring', ng-model='bedroomTwo.flooring')
              option(value='') Select a Flooring
              option(ng-repeat='floor in floorings') {{floor}}
        .form-group
          label(for='flooringStyle') Flooring Style/Brand &nbsp
            input.form-control(name='flooringStyle', ng-model='bedroomTwo.flooringStyle', type='text')
        .form-group
          label(for='flooringColor') Flooring Color &nbsp
            input.form-control(name='flooringColor', ng-model='bedroomTwo.flooringColor', type='text')
  .col-md-2
        .form-group.bedroom-notes
          label(for='notes') Notes
          textarea.form-control.bedroom-textarea(name='notes', rows='10', ng-model='bedroomTwo.notes')
        button.btn.btn-primary.pull-right(ng-click='updateBedroomTwo()') Save
  .col-md-3


