h3 DASHBOARD
a(href='/#/goal') Add a goal
.header
  .col-xs-3
    .img.thumbnail
  .col-xs-9
    .row
      .col-xs-12.reccomendation
    .row
      .col-xs-4
        .profile-pic
      .col-xs-4
        p User Name
          .edit
        p location
      .col-xs-4
        button.btn.btn-primary Inspiration Board
.row
  .col-xs-6
    .goal
      h3 Goals
        .add.pull-right
          i.fa.fa-fw.fa-plus
      accordion(close-others='oneAtATime')
        accordion-group(ng-repeat='goal in goals')
          accordion-heading
            | {{goal.title}}
            i.fa.fa-fw.fa-chevron-down.pull-right.glyphicon
          form.form(role='form', name='goalToggleForm')
            p: a(href='javascript.void(0)', ng-click='goalComplete()') I completed this goal.
          form.form(role='form', name='taskToggleForm')
          p(ng-repeat='task in goal.tasks') {{task.name}}
            label.checkbox-inline.pull-right
              input#inlineCheckbox(type='checkbox', value='true', ng-click='taskComplete()')
    .house
      h3 House Specs
        .edit.pull-right
          i.fa.fa-fw.fa-pencil
  .col-xs-6
    .trending
      .twitter
        h3 TWITTER FEED
      .houzz
        div#hzroot9290900(style='width:300px;text-align:center;font-size:12px;padding:0;border:0;margin:0;')
        div(style='font-size:14px;margin-bottom:3px;') Today's Ideabooks
          div(style='padding:0;margin:0;border:0;margin-bottom:3px;')
          iframe(data-hzvt='MjAxNDA5MjM6Y2xhc3NpYy0yMDA0Oi1mb290ZXI=' name='HouzzWidget5836375' id='HouzzWidget5836375' border=0 frameborder='0' SCROLLING=NO style='border:0 none;width:300px;height:275px;' src="http://www.houzz.com/jsGalleryWidget/featured/new_window=yes/title_on=yes/width=300")
      .rss
        h3 RS-FEED
