.back {
  padding: 10px;
  display: block;
  margin-top: 50px;
  margin-bottom: 40px;
  border-bottom: 2px solid #f1c40f;
  background-color: #ffffff;
}
.notes {
  padding-left: 13px;
}
#gen-btn {
  margin: 5px 20px;
}
.extra-form {
  background-color: #ffffff;
  padding: 25px;
  margin: 20px;
  border-radius: 10px;
  text-align: center;
  width: 150px;
  height: 150px;
  border: 3px solid #e74c3c;
  cursor: default;
  color: #e74c3c;
  font-size: 18px;
}
#large-checkbox {
  left: 38px;
  position: relative !important;
  bottom: 0;
  cursor: pointer;
  top: 24px;
}
.extra-icons {
  top: 70px !important;
  left: 63px !important;
}
.save-btn {
  margin-right: 15%;
  margin-top: -30px;
  margin-bottom: 60px;
}
#extra-form-div {
  margin-bottom: 150px;
}
.save-notes {
  margin-top: -10px;
}
.kitchen-notes {
  margin-top: -6px;
}
.bathroom-notes {
  margin-top: -6px;
}
.bath-textarea {
  height: 249px !important;
}
.livingroom-notes {
  margin-top: -6px;
}
.living-textarea {
  height: 248px !important;
}
.laundry-notes {
  margin-top: -6px;
}
.laundry-textarea {
  height: 248px !important;
}
.dining-notes {
  margin-top: -6px;
}
.dining-textarea {
  height: 248px !important;
}
.bedroom-notes {
  margin-top: -6px;
}
.bedroom-textarea {
  height: 248px !important;
}
