h4 Extras
a.btn.btn-default.btn-back(href='/#/house') Back
form.form(role='form', name='extraHouseForm', novalidate)
  .form-group(ng-repeat='feature in features')
    label(for='pool') {{feature.feature | titleCase}} &nbsp
      input.form-control(name='{{feature.feature}}', ng-model='feature.has', type='checkbox')
  button.btn.btn-primary(ng-click='updateExtras()') Save
