h4 Systems
a.btn.btn-default.btn-back(href='/#/house') Back
form.form(role='form', name='systemsHouseForm', novalidate)
  fieldset
    .form-group
      label(for='security') Security System &nbsp
        input.form-control(name='security', ng-model='systems.security', type='text')
    .form-group
      label(for='waterHeater') Water Heater Brand &nbsp
        input.form-control(name='waterHeater', ng-model='systems.waterHeater', type='text')
    .form-group
      label(for='waterHeaterModel') Water Heater Model &nbsp
        input.form-control(name='waterHeaterModel', ng-model='systems.waterHeaterModel', type='text')
    .form-group
      label(for='heating') Heating Systems &nbsp
        select.form-control(name='heating', ng-model='systems.heating')
          option(value='') Select One
          option(ng-repeat='heating in heatingTypes') {{heating}}
    .form-group
      label(for='heaterBrand') Heater Brand &nbsp
        input.form-control(name='heaterBrand', ng-model='systems.heaterBrand', type='text')
    .form-group
      label(for='heaterModel') Heater Model &nbsp
        input.form-control(name='heaterModel', ng-model='systems.heaterModel', type='text')
    .form-group
      label(for='cooling') Cooling Systems &nbsp
        select.form-control(name='cooling', ng-model='systems.cooling')
          option(value='') Select One
          option(ng-repeat='cooling in coolingTypes') {{cooling}}
    .form-group
      label(for='acBrand') Cooling System Brand &nbsp
        input.form-control(name='acBrand', ng-model='systems.acBrand', type='text')
    .form-group
      label(for='acModel') Cooling System Model &nbsp
        input.form-control(name='acModel', ng-model='systems.acModel', type='text')
    .form-group
      label(for='airFilter') Air Filter Size &nbsp
        input.form-control(name='airFilter', ng-model='systems.airFilter', type='text')
    .form-group
      label(for='notes') Notes
      textarea.form-control(name='notes', rows='3', ng-model='systems.notes')
    button.btn.btn-primary(ng-click='updateSystems()') Save
