.header {
  padding: 60px;
}
.header h4 {
  font-weight: lighter;
}
.house-img {
  width: 200px;
  height: 200px;
  border-radius: 25px;
  position: relative;
  margin: 10px;
}
.edit {
  position: absolute;
  cursor: pointer;
  left: 190px;
  top: 20px;
}
.edit:hover {
  color: #16a085;
}
.specForms {
  padding: 70px 165px;
  background-color: #ffffff;
  overflow: hidden;
}
.specInfo {
  background-color: #ffffff;
  margin: 0;
}
.specInfo h3,
.specInfo h4 {
  text-align: center;
}
.specInfo .first-title {
  padding-top: 50px;
}
.specInfo .sub-title {
  font-weight: lighter;
}
.specInfo .spec-header {
  color: #e74c3c;
  margin-top: 0;
}
.margin-bar {
  height: 30px;
}
#general,
#extras,
#systems,
#kitchen,
#bathroom,
#living,
#laundry,
#dining,
#bedroom-one,
#bedroom-two {
  width: 200px;
  height: 200px;
  border: 9px solid #FABDB7;
  float: left;
  margin: 10px 20px;
  border-radius: 10px;
  background-color: #ffffff;
  color: #c0392b;
  font-weight: lighter;
}
#general h3,
#extras h3,
#systems h3,
#kitchen h3,
#bathroom h3,
#living h3,
#laundry h3,
#dining h3,
#bedroom-one h3,
#bedroom-two h3 {
  text-align: center;
  padding-top: 35px;
}
#general:hover,
#extras:hover,
#systems:hover,
#kitchen:hover,
#bathroom:hover,
#living:hover,
#laundry:hover,
#dining:hover,
#bedroom-one:hover,
#bedroom-two:hover {
  background-color: #e74c3c;
  color: #FFD200;
}
.nav > li > a:hover,
.nav > li > a:focus {
  background-color: #e3e6e7;
}
.tab {
  cursor: pointer;
}
